POSTGRES_USER=snapgram
POSTGRES_PASSWORD=snapgram

DB_USER=snapgram
DB_PASSWORD=snapgram

MINIO_ROOT_USER=snapgram
MINIO_ROOT_PASSWORD=snapgram-minio-dev-password

KAFKA_BOOTSTRAP_SERVERS=localhost:9092

REDIS_HOST=localhost
REDIS_PORT=6379

SMTP_HOST=localhost
SMTP_PORT=1025

SNAPGRAM_JWT_SECRET=your-super-secret-code
SNAPGRAM_JWT_ISSUER=snapgram-auth

SNAPGRAM_JWT_ACCESS_TOKEN_TTL=15m
SNAPGRAM_JWT_REFRESH_TOKEN_TTL=30d